.section {
    &__title {
        font-family: $seccond_font_family;
        font-size: 1.85em;
        font-weight: 400;
        line-height: 1.25;
        margin: 0 0 0.9em 0.4em;

        @media (min-width: 768px) {
            font-size: 2.5em;
            margin: 0 0 1.3em;
            line-height: 1.2;
        }

        b {
            font-weight: 700;
        }
    }

    &__sub {
        font-family: $main_font_family;
        font-size: 1.063em;
        font-weight: 400;
        margin: 0 0 0.7em;
    }

    &__more {
        text-align: center;
        margin-top: 2em;

        @media (min-width: 768px) {
            margin-top: 4.4em;
        }

        @media (max-width: 767px) {
            .btn {
                width: 100%;
                margin-bottom: 1em;
            }
        }
    }

}
