.form {
	&__row {
		margin-bottom: 1em;

		.btn,
		input:not([type]),
		input[type=datetime],
		input[type=email],
		input[type=number],
		input[type=password],
		input[type=search],
		input[type=tel],
		input[type=text],
		input[type=url],
		textarea {
			width: 100%;
		}

		textarea {
			max-width: 100%;
			max-width: 100%;
			min-height: 5em;
		}
	}

	&__label {}
}
// Input text and textarea ================================================
input:not([type]),
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	background-color: $input_bg_color;
	border: none;
	border-bottom: 0.063em solid #d5d8d5;
	color: $main_color;
	padding: 1em 0;
	outline: none;
	font-size: 1.063em;
	font-weight: 400;
	font-family: $main_font_family;
	border-radius: 0;
	transition: 0.3s;
	transition-property: color background border-color;

	&:hover {
		border-bottom: 0.063em solid $input_hover_border_color;
		background-color: $input_hover_bg_color;
	}

	&:focus {
		border-bottom: 0.063em solid $input_focus_border_color;
		background-color: $input_focus_bg_color;

		@include placeholder {
			text-indent: -10em;
		}
	}

	&.invalid {
		background-color: #fff0f0;
		border-bottom: 0.063em solid red;
	}
	// Placeholder for input +++++++++++++++
	@include placeholder {
		color: $main_color;
		text-indent: 0;
		transition: 0.3s;
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
	display: inline-block;
	height: 14px;
	width: 14px;
	border: 1px solid #aaa;
	overflow: hidden;
	margin-top: -4px;
	vertical-align: middle;
	-webkit-appearance: none;
	outline: 0;
	background: 0 0;
	text-align: center;
	position: relative;
	flex: none;

	&:not(:disabled),
	&:not(:disabled) {
		cursor: pointer;
	}

	&:before,
	&:before {
		display: block;
	}

	&:disabled,
	&:disabled {
		border-color: #ddd;
	}
}

input[type=radio] {
	border-radius: 50%;

	&:checked:before {
		content: '';
		width: 6px;
		height: 6px;
		top: 50%;
		left: 50%;
		margin-top: -3px;
		margin-left: -3px;
		display: block;
		position: absolute;
		border-radius: 50%;
		background: #000;
	}

	&:disabled:checked:before {
		background-color: #aaa;
	}
}

input[type=checkbox] {
	&:checked:before,
	&:indeterminate:before {
		content: "\2714";
		font-size: 12px;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		line-height: 13px;
		color: #000;
	}

	&:indeterminate:before {
		content: "\f068";
	}

	&:disabled:checked:before,
	&:disabled:indeterminate:before {
		color: #aaa;
	}
}

.form {
	box-shadow: 0 3.063em 8.75em rgba(20, 21, 20, 0.07), 0 0 3.125em rgba(20, 21, 20, 0.05);
	border-radius: 2.4em;
	background-color: $color_withe;
	padding: 2.8em 2em 3.9em;

	@media (min-width: 768px) {
		border-radius: 3.125em;
		padding: 4.3em 5.5em 3.9em 5.8em;
	}

	&__title {
		color: $main_color;
		font-family: $seccond_font_family;
		font-size: 1.33em;
		font-weight: 700;
		margin-bottom: 0.5em;

		@media (min-width: 768px) {
			margin-bottom: 1em;
			font-size: 1.625em;
		}
	}

	&__sub {
		font-size: 0.97em;
		margin-bottom: 1.35em;

		@media (min-width: 768px) {
			font-size: 1.063em;
			margin-bottom: 1.2em;
		}
	}

	&__row {
		margin-bottom: 2em;
	}

	&__action {
		.btn {
			width: 100%;
		}
	}

	&__term {
		font-size: 0.9em;
		opacity: 0.5;
		color: $main_color;
		margin-top: 1.3em;
		text-align: center;
		padding: 0 2.4em;

		@media (min-width: 768px) {
			font-size: 0.625em;
			margin-top: 1.7em;
			padding: 0;
		}

		a {
			color: $main_color;
		}
	}

}
