header.header
    .header__content
        .header__left
            a.logo(href="/")
                img(src="img/logo.svg", alt="ATM logo")
        if thanks
            .header__center
                a(href="./") Вернуться на главную
        .header__right
            a.header__phone(href="tel: +7 916 111 11 11") +7 916 111 11 11
            if !thanks
                a.header__call(href="#" data-toggle="modal" data-target="#call")
                    i.icon_phone.mobile 
                    span.desktop Перезвонить вам?
